*{
    box-sizing: border-box;
}

html {
    font-family:cursive;
}

body{
    margin: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

header {
    background-color: #9933cc;
    color: #ffffff;
    text-shadow:  2px 2px 5px #000000;
    padding: 15px;
}

header h1{
    margin-left: 15px;
}
  
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
.menu li {
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: scale 0.4s;
}

.menu li:hover {
    background-color: #0099cc;
    scale: 1.06;
    cursor: pointer;; 
}

#active{
    background-color: #0099cc;
    scale: 1.06; 
}

.main{
    /* text-align: center;  */
    background: rgb(255, 249, 249);
    border-radius: 15px;
    box-shadow:  2px 2px 5px #c1c0c0;
    margin: 10px 0;
    min-height:554px;
}

.titre{
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}

#modal, .modals{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7);
}

.modal-content h2{
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 2px solid #560b7c;
    color: #560b7c;

}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
}

table{
    margin: 0 auto;
    border-radius: 4px;
    border-collapse: collapse;
    width: 90%;
    margin-top: 5px;
}

tr{
    border: 1px solid #ddd;
}

td{
    width: 100px;
    text-align: center;
    padding: 8px;
}

th{
    width: 100px;
    background: rgb(0, 181, 92);
    padding: 8px;
    color: white;
    transition: text-decoration 1s;
}

th:first-child{
    border-radius: 10px 0 0 0;
}

th:nth-last-child(1){
    border-radius: 0 10px 0 0;
}  

tr:nth-child(even){
    background-color: #f2f2f2f2;
}

tr:hover{
    background: lightgray;
}

tr:first-child{
    border: none;
}

.modifier, .supprimer{
    width: 80px;
}

.btnModif, .mod{
    background-color: dodgerblue;
    border: 1px solid rgb(1, 130, 173);
    border-radius: 6px;
    color: #fefefe;
    padding: 5px;
    font-weight: bold;
    float: right;
}

.btnSup, .sup, #close, .close{
    background-color: rgb(233, 22, 22);
    border: 1px solid rgb(216, 8, 8);
    border-radius: 6px;
    color: white;
    padding: 5px;
    font-weight:bold;
}

.btnModif:hover, .mod:hover, .btnSup:hover, .sup:hover, .recherche:hover, .close:hover,#close:hover, .vert:hover{
    transform: scale(1.05);
    cursor: pointer; 
}

.vert{
    background-color: rgb(3, 162, 83);
    border: 1px solid  #03a253;;
    color: white;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    margin-right: 20px;
}
 
input[type="text"], input[type="number"], input[type="email"]{
    background-color: #ddd;
    width: 40%;
    border-radius: 4px;
    border: transparent;
    margin-left: 10%;
    padding: 10px 20px;
}

fieldset{
    line-height: 3;
    border-radius: 10px;
}

.center{
    margin-top: 10px;
    display: flex;
    justify-content:center;
}

.aside {
    margin-top: 20px;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
 /* For tablets: col-s-*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
/* For desktop: col-*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}